body {
    font-family: 'Poppins', sans-serif;
}

/* =========================================
            banner area
============================================*/
.banndr-area {
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;

}

.banner-photo {
    text-align: center;
    color: white;
    font-weight: bold;

}

#title {
    font-size: 50px;
}

/* -----------common css------------------ */

.link-button {
    background-color: orange;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

/* ---------------------today------------------------------- */
.donate-today {}

.donate-euo {
    text-align: center;
}

.donate-item {
    display: flex;
    margin-left: 100px;
}

.euo-one {
    display: flex;
    width: 200px;
    height: 150px;
    margin: 10px;
    background-color: rgba(163, 157, 157, 0.333);
    text-align: center;
    padding-left: 100px;
    padding-top: 50px;


}

#diff-color {
    background-color: #FFEEEE;
    border: 5px solid tomato;
    color: tomato;
}

.input-donate {
    text-align: center;
}

.input-donate input {
    width: 300px;
    height: 50px;
}

/* -----------------our plan--------------------- */
.donate-plan {
    text-align: center;
}

.our-plans {
    display: flex;
    margin-left: 30px;

}

.plan-box {
    width: 400px;
    height: 350px;
    margin: 10px;
    padding: 20px;

}

#plan-one {
    background-color: rgba(79, 157, 166, 0.1);

}

#plan-two {
    background-color: rgba(255, 89, 89, 0.1);
    ;

}

#plan-three {
    background-color: rgba(255, 228, 196, 0.555);

}